@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
.confeitaria{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}
header{
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: mediumvioletred;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-size: 20px;
    margin-left: 20px;
}
header a{
    background-color: white;
    padding: 2px;
    margin-right: 20px;
    text-decoration: none;
}
main{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    margin-bottom: -330px;
}
main nav{
    background-color: #f2d0e0;
    display: flex;
    flex-direction: column;
}
nav .img{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 20px 10px;
}

main .bolos{
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    grid-template-rows: 1.2fr 1.2fr 1.2fr;
    padding: 10px;
}
main .bolos .class2,
main .bolos .class1,
main .bolos .class3,
main .bolos .class4,
main .bolos .class5,
main .bolos .class6,
main .bolos .class7{
    padding: 5px;
    box-shadow: 2.1px 1px 0.8px rgba(0, 0, 0, 0.425)
    ;
    margin: 0 10px 20px 10px;
}
main .bolos .class2 h2, p,
main .bolos .class1 h2, p,
main .bolos .class3 h2, p,
main .bolos .class4 h2, p,
main .bolos .class5 h2, p,
main .bolos .class6 h2, p,
main .bolos .class7 h2, p{
    margin-bottom: 10px;
    text-align: center;
}
footer{
    background-color: mediumvioletred;
    height: 50px;
    color: #FFF;
}

