@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,400;1,600;1,800;1,900&display=swap');

:root{
  --cor1:#2B6F9C;
  --cor2:#2B6F9C;
  --cor3:#1C466E;

  --font:'Poppins', sans-serif;
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
header{
    width: 100vw;
    height: 100px;
    background-color: var(--cor3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.menu-itens li{
    list-style-type: none;
    display: inline-block;
    margin: 5px;
}
.menu-itens li a{
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}
.menu-itens li a:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.cadastro{
    background-color: white;
    margin: auto;
    width: 500px;
    padding: 20px;
}
.cadastro h1{
    text-align: center;
    border-bottom: 1px solid rgba(85, 85, 85, 0.322);
    margin-bottom: 25px;
    background-color: var(--cor3) ;
}
form{
    border: 1.2px solid var(--cor2);
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.418);
    padding: 10px;
}
fieldset{
    border: 1px solid var(--cor2);
    padding: 10px;
    margin-bottom: 10px;
}
legend{
    background-color: var(--cor1);
    padding: 10px;
    margin-bottom: 10px;
}
.cadastro input, 
.cadastro label{
    padding: 5px;
    margin-bottom: 10px;
}
input:hover{
    background-color: #1992;
}
.cadastro button{
    padding: 5px;
}
.cadastro button:hover{
    background-color: var(--cor1);
    cursor: pointer;
}
.rodape,
.rede-socias{
    background-color: var(--cor3);
    clear: both;
    width: 100wv;
    height: 50px;
    padding: 10px;
}
.rede-socias{
    display: flex;
    justify-content: space-around;
}
.rodape p,
.rodape a{
    color: #fff;
    font-size: 13px; 
    align-items: center;
    text-align: center;
}
.rodape a:hover{
    cursor: pointer;
}